  .nav-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  .logo-container{
    height: 28px;
    width: 180px;
  }
  .contact-us{
    background-color: #FF5043;
    border: none;
    color: white;
    padding: 31px 53px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    max-height: 99%;
  }
.contact-us:hover{
    text-decoration: none;
    color: #fff;
  }

  .banner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 258px 100px 307px 200px;
    justify-content: space-between;
  }

  .banner-left {
    display: flex;
    flex-direction: column;
    width: 775px;
  }

  .banner-left .banner-header {
    font-size: 80px;
    font-weight: bold;
    line-height: 90px;
    letter-spacing: -1px;
  }

  .text-primary {
    color: #FF5043 !important;
  }

  .banner-sub-header {
    font-size: 24px;
    line-height: 40px;
  }

  .banner-sub-heading2 {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 5.4px;

  }

  .line {
    background-color: rgb(192 192 192);
    width: 35%;
    border-radius: 15px;
    height: 1px;
    display: flex;
    align-items: center;
  }

  .line-inner {
    background-color: red;
    height: 2px;

    text-align: right;
    font-size: 50px;
    border-radius: 15px;
    width: 20%;
  }

  

  .info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 200px 100px;
    justify-content: space-between;

  }

  .info-left {
    width: 31.24%;
    height: 588px;
  }

  .info-left {
    display: flex;
    flex-direction: column;
    width: 775px;
    padding-top: 70px;
  }

  .info-right {
    padding-left: 362px;
  }

  .info-header {
    font-size: 50px;
    letter-spacing: -3.5px;
    line-height: 60px;
    text-align: left;
    width: 338px;
    height: 120px;
  }

  .text-primary {
    color: #FF5043 !important;
  }

  .info-sub-header {
    font-size: 20px;
    line-height: 32px;
    padding-right: 12.8%;
    letter-spacing: 0.1px;
    font-size: 18px;

    text-align: left;
    width: 515px;

  }

  .info-sub-heading2 {
    font-size: 18px;
    letter-spacing: 5.4px;
    line-height: 22px;
    text-align: left;
  }

  .line2 {
    background-color: rgb(192 192 192);
    width: 27%;
    border-radius: 15px;
    height: 2px;
    display: flex;
    align-items: center;
  }

  .line-inner2 {
    background-color: red;
    height: 4px;
    text-align: right;
    font-size: 50px;
    border-radius: 15px;
    width: 20%;
  }

  .service-container {
    background-color: rgb(240, 235, 235);
    padding: 180px;
  }
  .service-header {
    font-size: 52px;
    letter-spacing: -0.35px;
    line-height: 80px;
    text-align: left;
  }

  .service-option {
    padding-top: 50px;
    font-size: 20px;
  }
  .panel{
    display: flex;
    flex-direction: row;
  }
  .text{
    max-width: 50%;
  }
  .service-option hr {
    color: #000;
  }
  .service-option span {
    float: right;
  }
  .accordion {
    border: none;
    cursor: pointer;
    text-align: left;
    float: right;
 }
 .accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
 }
 .active:after {
    content: '\2212';
 }
 .panel {
    padding: 0 18px;
    background-color: rgb(253, 253, 60);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
 }






  .industries-container {
    padding-left: 250px;
    padding-top: 221px;
  }

  .industries-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .card {
    background-color: #F5F5F7;
    border-radius: 24px;
    width: 500px;
    height: 401px;
    padding: 30px;
  }

  .oval {
    background-image: linear-gradient(0deg, #F5F5F7 0%, rgba(255, 80, 67, 0.5) 100%);
    border-radius: 100%;
    opacity: 0.5;
    width: 120px;
    height: 120px;
    /* padding: 60px; */

    margin: 40px 60px;

  }

  .card-info {
    padding-top: 10px;

  }

  .client-container {
    padding-top: 150px;
  }

  .client-image {
    padding-top: 30px;
  }

  .client-lorem {
    background-color: #F5F5F7;
    border-radius: 24px;
    width: 45%;
    margin: auto;
    position: relative;
    margin-top: -140px;
    padding: 70px 100px;
    text-align: center;
  }

  .lorem {
    color: #021C29;
    font-size: 30px;
    line-height: 48px;
    width: 800px;
    padding-right:140px ;
  }

  .ceo {
    color: #021C29;
    font-size: 15px;
    text-align: center;

  }

  .view {
    color: #FF5043;
    font-size: 13px;

  }


  .company-name {
    padding: 50px;
    text-align: center;
    align-items: center;
  }

  .our-global-reach {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 22px;
    padding: 40px;
  }

  .company-logo {
    width: 272px;
    height: 80px;
  }

  .careers {
    display: flex;
    flex-direction: row;
    background-color: #F5F5F7;
    padding: 180px;
  }

  .more {
    float: right;
  }

  .explorer-more {
    font-size: 30px;
    line-height: 28px;
    text-align: left;
  }

  .career-info {
    width: 500px;
  }

  .blog-container {
    padding: 180px;


  }

  .blogs {
    display: flex;
    flex-direction: row;
  }

  .upper-blog {
    padding: 0 80px;
  }

  .lower-blog {
    padding: 20px 80px;
  }

  .upper-blog img {
    height: 200px;
    width: 260px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .lower-blog img {
    height: 200px;
    width: 260px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .work-container {
    background-image: url(/image/work-bg.png);
    height: 700px;
    width: 100%;
    text-align: center;

  }

  .work-container p+h3 {
    text-align: center;

    color: #fff;
  }

  .about-us-container {
    padding: 0px 100px;

  }

  .betacraft-logo {
    height: 200px;
    width: 500px;
  }

  .about {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  footer {
    font-size: 16px;
    line-height: 36px;
    text-align: left;
    background-color: rgb(179, 176, 176);
    height: 43px;
    padding-left: 203px;
  }